<!DOCTYPE html>
<html>
<head>
    <title>CitySafe</title>
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
    
    <!--navbar-->
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header"><a href="/" class="navbar-brand">CitySafe</a></div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button class="btn btn-success"><a href="/safe-map">Safest Route</a></button>
                        </li>
                        <li>
                            <button class="btn btn-success"> <a href="/map">Go to Map View</a> </button>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>