<%- include("./partials/header") %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h1>SOS Button</h1>
        <form action="/contact" method="POST">
          <button class="btn" id="sos"></button>
        </form>
      </div>
      <div class="col-sm-6 text-center">
        <h1>Guidelines</h1>
        <!-- <Insert guidelines here> -->
        
      </div>
    </div>
  </div>

<%- include("./partials/footer") %>