<%- include("./partials/header") %>

<!-- the map -->
<div id='map'></div>

<script>
  //mapboxgl.accessToken = "pk.eyJ1IjoiaG1hbnR2ODMiLCJhIjoiY2s2N3NkbGE1MWJ4NjNwbzc2dzQ5aXk4dCJ9.E0wf1107lt7EdQ6z-v4Rhg"
  var map = new mapboxgl.Map({
    container: 'map',
    center: [77.0448,28.6182],
    zoom: 15,
    minzoom: 10,
    style: 'mapbox://styles/mapbox/streets-v11',
    interactive: true,
    keyboard: true,
    accessToken: 'pk.eyJ1IjoiaG1hbnR2ODMiLCJhIjoiY2s2N3NkbGE1MWJ4NjNwbzc2dzQ5aXk4dCJ9.E0wf1107lt7EdQ6z-v4Rhg'
  });

  var lng = <%= user.coordinates_sos.longitude %>
  var lat = <%= user.coordinates_sos.latitude %>

  var popup = new mapboxgl.Popup()
  .setLngLat([lng,lat])
  .setHTML("<p>Hemant is in danger.</p>")
  .setMaxWidth("200px")
  .addTo(map)
  

  var marker = new mapboxgl.Marker({
    color: '#CC1F1F',
  })
  .setLngLat([lng,lat])
  .setPopup(popup)
  .addTo(map)
</script>

<%- include("./partials/footer") %>