#sos {
  background:crimson;
  margin: 30px;
  padding: 120px;
  border-radius: 150px;
}

.btn.btn-success {
  margin-top: 0.8rem;
}

#map {
       height: 100%;
}
      /* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}